/* Figtree (text), self-hosted so no visitor IP reaches Google (GDPR). Headings
   use the system serif stack (Iowan Old Style, Palatino, Georgia). Figtree is a
   variable font, SIL Open Font License 1.1, fetched once from Google Fonts
   (2026-09-24). */

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('./figtree-normal-latin.woff2') format('woff2');
}
